#reading-list-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#reading-list-books {
  width: 85%
}

#filter {
  width: 15%
}

.status-selector {
  background-color: #4A4E69;
  color: #FBF6F4;
  padding: 0.2rem 1rem;
}

.Not-Read {
  background-color: #C9ADA7;
}

.Reading {
  background-color: #F2E9E4;
}

.Read {
  background-color: #4A4E69;
  color: #FBF6F4;
}

.status {
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 16px;
  width: 30%;
}