@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet');
body {
  font-family: 'Inter', sans-serif;
}

#search-div {
  width: 100%;
  height: 3.5rem;
  display: inline-flex;
  justify-content: center;
  gap: 10px;

}

#search-div * {
  border-radius: 30px;
  //padding: 10px;
}

#advanced-search-btn {
  color: #22223B;
  background: #C9ADA7;
  border: none;
}

#advanced-search-btn:hover {
  background: #BB9890;
}

#submit {
  width: 10%;
  color: #FBF6F4;
  background: #4A4E69;
  border: none;
}

#submit:hover {
  background: #343857;
}

#search-option {
  width: 15%;
  margin-left: 1rem;
  background: #C9ADA7;
  border-color: #C9ADA7;
  border-width: thick;
  border-radius: 9px;
  height: 2.5rem;
}

#search-input {
  width: 90%;
  border-color: #4A4E69;
  border-width: thin;
  font-size: 1.3rem;
}

.search-bar {
  padding-left: 50px;
}


#advanced-search {
  margin-top: 1rem;
  background: #F2F2F2;
  border-radius: 5px;
  text-align: left;
  padding: 1rem
}

#title {
  font-weight: 200;
}
